@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>This is the Users Controller page.</h2>
<p>Call us or send us a message.</p>
