@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Important Message</h2>
<p>This message is very <em>unimportant</em>. It's <b>only</b> 
    to demostrate that the view can called from the controller.</p>
<p>Thanl you.</p>